<div class="content-activiy">
  <div class="content-panel">
    <article class="panel is-primary">
      <p class="panel-heading">Nueva Actividad</p>
      <p class="panel-tabs">
        <a [class]="active1" (click)="changeStatus('NO_PLANIFICADO')">NO PLANIFICADO</a>
        <a [class]="active2" (click)="changeStatus('PREVENTIVO')">PREVENTIVO</a>
        <a [class]="active3" (click)="changeStatus('ACT_ADM')">ACTIVIDAD ADMINISTRATIVA</a>
      </p>
      <div class="panel-block">
        <ng-container *ngIf="tipeActivitySelected === 'NO_PLANIFICADO'">
          <div class="block-form">
            <indicadores-form-no-planificado></indicadores-form-no-planificado>
          </div>
        </ng-container >
        <ng-container *ngIf="tipeActivitySelected === 'PREVENTIVO'">
          <div class="block-form">
            <indicadores-form-preventivo></indicadores-form-preventivo>
          </div>
        </ng-container>
        <ng-container *ngIf="tipeActivitySelected === 'ACT_ADM'">
          <div class="block-form">
            <indicadores-form-act-adm></indicadores-form-act-adm>
          </div>
        </ng-container>
      </div>
    </article>
  </div>
</div>
