.content-activiy{
  display: flex;
  justify-content: center;
  min-height: 100%;
  background-color: #e9f6f9;
  padding: 20px;
}

.content-panel{
  width: 70%;
}

.block-form {
  min-width: 100%;
}

a{
  font-size: smaller;
  text-decoration: none;
  color: black;
}

.is-act{
  background-color: white;
}




