/*LayOut General*/
.content-page {
  padding: 20px;
  min-height: 100%;
  background-color: #e9f6f9;
  display: grid;
  grid-template-rows: auto 1fr;
}

.content-search{
  margin-bottom: 30px;
}

.content-activities{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.table-activities{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.row-col {
  display: flex;
  align-items: flex-end;
}

.element {
  display: flex;
  flex-direction: column;
  width: 50%;
}

select, button{
  min-width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}








