<div class="content-plantillas">

    <div class="header-plantillas">
      <h2 class="title is-4">Plantillas</h2>
    </div>

    <div class="content-row is-flex is-justify-content-space-around">
        <div class="field">
            <button class="button is-primary is-rounded is-outlined">Importar Plantillas desde Excel</button>
        </div>
        <div class="field">
            <button class="button is-primary is-rounded is-outlined">Agregar Plantilla Manualmente</button>
        </div>
    </div>
    <!-- <div class="content-body is-flex is-justify-content-center is-align-content-center">
        <div class="file is-info has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="resume" />
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label"> Info file… </span>
              </span>
              <span class="file-name"> Screen Shot 2017-07-29 at 15.54.25.png </span>
            </label>
          </div>
    </div> -->
    <div class="content-body">
        <div>TODO: Formulario</div>
    </div>

</div>
  
