<div class="columns is-multiline">
    <div class="column is-one-fifth ">
    <div class="element">
        <label class="label" for="partida">Inicio</label>
        <input class="input is-small is-primary" type="text" placeholder="Partida">
    </div>
    </div>
    <div class="column is-one-fifth">
    <div class="element">
        <label class="label" for="partida">Final:</label>
        <input class="input is-small is-primary" type="text" placeholder="Dispositivo">
    </div>
    </div>
    <div class="column is-three-fifths">
    </div>
    <div class="column is-one-fifth">
    <div class="element">
        <label class="label" for="partida">Alimentos:</label>
        <input class="input is-small is-primary" type="text" placeholder="Dispositivo">
    </div>
    </div>
    <div class="column is-one-fifth">
    <div class="element">
        <label class="label" for="partida">Traslados:</label>
        <input class="input is-small is-primary" type="text" placeholder="Dispositivo">
    </div>
    </div>
    <div class="column is-one-fifth">
    <div class="element">
        <label class="label" for="partida">Accesos:</label>
        <input class="input is-small is-primary" type="text" placeholder="Dispositivo">
    </div>
    </div>
    <div class="column is-one-fifth">
    <div class="element">
        <label class="label" for="partida">Codigos</label>
        <input class="input is-small is-primary" type="text" placeholder="Dispositivo">
    </div>
    </div>
    <div class="column is-one-fifth">
    <div class="element">
        <label class="label" for="partida">Almacen:</label>
        <input class="input is-small is-primary" type="text" placeholder="Dispositivo">
    </div>
    </div>

</div>

<div class="footer-activity">
    <button class="button is-danger" routerLink="/indicadores/actividades">Cancelar</button>
    <button class="button is-primary" routerLink="/indicadores/actividades">Guardar</button>
</div>
