
<div class="content-sidemenu is-flex-direction-row menu mx-4 mt-2">
  <p class="menu-label">
      <span class="icon-text">
        <span class="icon">
          <i><img src="../../../../assets/home.png"></i>
        </span>
        <strong>Inicio</strong>
      </span>
  </p>
  <div class="content-list">
    <ul class="menu-list" >
      <li>
        <a  class="my-1"
            href="">
            Actividades
        </a>
      </li>
      <li><a class=" my-1" href="">Actividades</a></li>
    </ul>
  </div>

</div>
