a {
    border: 1px, solid, #7bb6cc86;
}
a:hover{
    background-color: #7bb6cc86;
    border: 1px, solid, rgb(132, 226, 255);
}

.is-act{
  background-color: #0e2944ff;
  color: aliceblue;
}

.content-list{
  border-radius: 10px;
  padding: 10px;
  border: 1px, solid, white;
}
