
<div class="content-sidemenu is-flex-direction-row menu mx-4 mt-2">
  <p class="menu-label">
      <span class="icon-text">
        <span class="icon">
          <i><img src="../../../../assets/indicadores.png"></i>
        </span>
        <strong>Indicadores</strong>
      </span>
  </p>
  <div>
    <ul class="menu-list" >
      <li><a class="my-1" routerLink="/indicadores/actividades" routerLinkActive="is-act">Actividades</a></li>
      <li><a class="my-1" routerLink="/indicadores/preventivos" routerLinkActive="is-act">Preventivos</a></li>
    </ul>
  </div>

</div>
